.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 0;
    height: 57px;
  .titleText {
    font-size: 18px;
    font-weight: bold;
  }
  .titleActions {
    font-size: 16px;
    font-weight: normal;
  }
}
