.ant-table {
    height: 100%;
    .ant-table-container {
        .ant-table-thead {
            tr {
                th {
                    background-color: #f5f5f5;
                    padding: 9px 16px;
                }
            }
        }
        .ant-table-tbody {
            tr {
                td {
                    padding: 4px 16px;
                }
            }
        }
    }
}

.ant-table-wrapper {
    height: 100%;
    .ant-spin-nested-loading {
      height: 100%;
      .ant-spin-container {
        height: calc(100% - 64px);
      }
    }
  }