.users {
  padding: 20px;
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .titleLeft {
      font-size: 20px;
      font-weight: bold;
    }
    .titleRight {
      font-size: 16px;
      font-weight: normal;
    }
  }
  .tableBox {
  }
}
