.users {
  padding: 0 20px 20px 20px;
  height: 100%;
  .searchBox {
    padding-top: 16px;
    width: 100%;
    .searchForm {
        width: 100%;
        .searchItem {
            margin-left: auto;
            margin-right: 0;
        }
    }
  }
  .tableBox {
    height: calc(100% - 106px);
  }
}
