.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 60px;
  box-sizing: border-box;
  flex-shrink: 0;
  .logo {
    font-size: 14px;
    font-weight: bold;
  }
  .user {
    font-size: 14px;
  }
}

.mainArea {
  flex: 1; // 让内容区域占据剩余空间
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.sidebar {
  // width: 200px;
  background-color: #f0f0f0;
  padding: 20px 0;
  margin: 0;
  overflow-y: auto;
  box-sizing: border-box;
  flex-shrink: 0;
}

.sidebarMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarMenuItem {
  margin-bottom: 10px;
}

.sidebarMenuLink {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s;
  border-left: 3px solid transparent;
}

.sidebarMenuLink:hover {
  background-color: #e0e0e0;
}

.sidebarMenuLink.active {
  background-color: #e6f7ff;
  border-left-color: #1890ff;
  color: #1890ff;
}

.content {
  flex: 1;
  overflow-y: auto;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #eee;
  text-align: center;
  padding: 10px;
  margin: 0;
  height: 30px;
  box-sizing: border-box;
  line-height: 10px;
  flex-shrink: 0;
  display: flex;
  .footerContent {
    text-align: center;
    flex: 1;
  }
  .animation {
    transition: width 0.2s ease-in-out;
  }
}

